<h2 class="ui center aligned medium icon header">
  <i class="inverted teal circular gem icon" id="gem-icon"></i>
  Say something
</h2>

<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui bordered inverted vertical pointing menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui medium feed">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <%= render  @messages %>
        </div>
        <div class="extra content">
          <%= form_for(@message, html: { class: "ui reply form" }, role: "form", url: message_path) do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%= f.text_field :body %>
                <%= f.button '<i class="bordered inverted teal edit icon"></i>'.html_safe %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
